[submodule "bundle/factorus"]
	path = bundle/factorus
	url = https://github.com/apalmer1377/factorus
[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround/
[submodule "bundle/alternate.vim"]
	path = bundle/alternate.vim
	url = https://github.com/compactcode/alternate.vim
[submodule "bundle/open.vim"]
	path = bundle/open.vim
	url = https://github.com/compactcode/open.vim
[submodule "bundle/ultisnips"]
	path = bundle/ultisnips
	url = https://github.com/SirVer/ultisnips
[submodule "bundle/vim-schlepp"]
	path = bundle/vim-schlepp
	url = https://github.com/zirrostig/vim-schlepp
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/vim-syntastic/syntastic
[submodule "bundle/javacomplete"]
	path = bundle/javacomplete
	url = https://github.com/cilquirm/javacomplete
