[submodule "bundle/factorus"]
	path = bundle/factorus
	url = https://github.com/apalmer1377/factorus
[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround/
[submodule "bundle/alternate.vim"]
	path = bundle/alternate.vim
	url = https://github.com/compactcode/alternate.vim
[submodule "bundle/open.vim"]
	path = bundle/open.vim
	url = https://github.com/compactcode/open.vim
[submodule "bundle/vim-java-maven"]
	path = bundle/vim-java-maven
	url = https://github.com/sixro/vim-java-maven/
[submodule "bundle/ultisnips"]
	path = bundle/ultisnips
	url = https://github.com/SirVer/ultisnips
[submodule "bundle/vim-medic_chalk"]
	path = bundle/vim-medic_chalk
	url = https://github.com/ParamagicDev/vim-medic_chalk
